.block_gnome{    
    display: flex;
    align-items: center;
    margin-top: 6em;    
    padding: 2em 0em 2em 5em;
    background: linear-gradient(90deg, var(--gradient) 45%, var(--green,1) 100%);
}

.block_gnome_photo{
    width: 47%;
    display: flex;
    justify-content: flex-start;    
}

.block_gnome_discount{
    width: 53%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.block_gnome_discount :nth-child(2n){
    margin-bottom: 1em;
}

.block_gnome_discount_text{
    color: var(--white);
    font-size: calc(16px + 34 * (100vw / 1440));     
}

.big_text{    
    font-size: calc(22px + 68 * (100vw / 1440));  
}

.input_mask{
    padding: 1.4em 8.8em 1.4em 2.8em;
    border-radius: 25px;
    font-size: 24px;
    color: var(--silver);
    margin-bottom: 1em;
}

@media (max-width: 1440px){
.gnome_photo{
    width: 422px;
    height: 422px;
}
}

@media (max-width: 1130px){
    .block_gnome_photo{
        display: none;        
    }

    .block_gnome{   
        justify-content: center;
        padding-left: 0em;
    }

    .block_gnome_discount{
        width:auto;    
    }


}