.catalog {
    margin: 2em auto;
    display: grid;    
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: calc(300px + 100 * (100vw / 2690));
    gap: 6em;
}

@media (max-width: 1400px){
    .catalog{
        grid-auto-rows: calc(350px + 100 * (100vw / 2690)) calc(350px + 100 * (100vw / 2690));
        grid-template-columns: repeat(3, 1fr);        
    }
}

@media (max-width: 1150px){
    .catalog{
        grid-auto-rows: calc(400px + 100 * (100vw / 2690)) calc(400px + 100 * (100vw / 2690)) calc(400px  + 100 * (100vw / 2690));
        grid-template-columns: repeat(2, 1fr);        
    }
}

@media (min-width: 1800px){
    .catalog{
        grid-auto-rows: calc(400px + 100 * (100vw / 2690));       
    }
}

@media (min-width: 2100px){
    .catalog{
        grid-auto-rows: calc(410px + 150 * (100vw / 2690));       
    }
}