.new_season_sale{
    background-color: var(--aqua);
    display: flex;
    justify-content: flex-start;
}

.new_season_sale_main{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    margin-left: 1em;
    font-size: 80px;
    color: var(--white);
}

.small_text{
    font-size: 53px;
}

.new_season_sale_button{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;    
    margin-top: 0.5em;
}

.new_season_sale_button a{
    margin-right: 1em;
}

.new_season_sale_foto{
    width: 50%;
    display: flex;
    justify-content: center;
}