.button_elem{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;    
  position: static;  
  cursor: pointer;
  border: 2px solid;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
  
.green {
  background-color: var(--green);
  border: none;
  color: var(--white);
}
.green:active{
  background-color: var(--light_green);
  color: var(--green);
}
  
.white {
  background-color: transparent;
  border-color: var(--white);
  color: var(--white);
}

.white:active{
  background-color: var(--silver);
}

.black_white{
  background-color: var(--white);
  border: none;
  color: var(--black);
}

.black_white:active{
  background-color: var(--silver);
}

.silver{
  background-color: transparent;
  border-color: var(--silver);
  color: var(--silver);
}

.white:active{
  background-color: var(--silver);
  color: var(--white);
}

.light_green{
  background-color: var(--light_green);
  border-color: var(--green);
  color: var(--green);
  margin-left: 1em;
}

.small{  
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 5px;
}

.big{ 
  font-size: 25px;
  padding: 25px 50px;
  border-radius: 13px;
}

.long{
  padding: 21px 130px;
  border-radius: 25px;
  font-size: 29px;
}

.very_long{
  padding: 25px 10px;
  border-radius: 25px;
  font-size: calc(18px + 8 * (100vw / 1440));
}