.header_logo{
    width: 50%;
    display: flex;
    align-items: center;
}

.header_logo_button{
    margin-left: 3em;
}

.logo_photo{
    width: 72px;
    height: 72px;
}

.header_nav{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;   
}

.header_nav_block{
    width: 95%;       
}