.categories_info{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.categories{
    display: grid;   
    grid-template-columns: repeat(4, 1fr); 
    grid-auto-rows: calc(320px + 50 * (100vw / 2690));    
    gap: 4em;
}

@media (max-width: 1400px){
    .categories{
        grid-auto-rows: calc(300px - 50 * (100vw / 2690)) calc(300px + 100 * (100vw / 2690));
        grid-template-columns: repeat(3, 1fr);        
    }
}

@media (max-width: 1150px){
    .categories{
        grid-auto-rows: calc(300px - 50 * (100vw / 2690)) calc(300px - 50 * (100vw / 2690)) calc(300px  - 50 * (100vw / 2690));
        grid-template-columns: repeat(2, 1fr);        
    }
}

@media (min-width: 1800px){
    .categories{
        grid-auto-rows: calc(350px + 100 * (100vw / 2690));       
    }
}

@media (min-width: 2100px){
    .categories{
        grid-auto-rows: calc(410px + 150 * (100vw / 2690));       
    }
}