.address_main{
    display: flex;
    align-items: flex-start;
    margin-top: 3em;
    flex-direction: column;  
}

.map_photo{
    width: 100%;    
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;  
}