.input_elem {
  width: 100%;
  display: flex;  
  box-sizing: border-box;
  background: var(--white);  
  margin-bottom: 1em;  
  cursor: pointer; 
}

input::placeholder{
  padding-left: 1em;
}

.white{
  border: 1px solid var(--white); 
}

.long_big{
  border-radius: 25px; 
  padding: 25px 10px;
  font-size: calc(18px + 8 * (100vw / 1440));
}