.input_elem {
  width: 100%;
  display: flex; 
  align-items: flex-start;
  box-sizing: border-box;
  background: var(--white);     
  border-radius: 25px;   
  margin-bottom: 1em;
  
  font-size: calc(18px + 8 * (100vw / 1440));
  cursor: pointer;
  
}

input::placeholder{
  padding-left: 1em;
}

.white{
  border: 1px solid var(--white); 
}

.long_big{
  padding: 25px 10px;
}


