.footer_address{
    height: 25vh;    
    font: inherit;
    display: flex;
    justify-content: space-between;
    margin-top: 6em;
    margin-bottom: 2em;
}

/*left side*/
.footer_address_tel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_address_inst_what{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    text-align: center;
}

.footer_contacts{
    font-size: calc(24px + 26 * (100vw / 1440));
}

.footer_contacts_tel{
    font-size: calc(22px + 8 * (100vw / 1440));
}

.footer_address_inst{
    margin-right: 2em;
}

a .footer_address_what{
    font-size: calc(20px + 10 * (100vw / 1440));
}

/*right side*/
.footer_address_inst_address_time{
    font-size: 20px;
    margin-top: 3.5em;
}

.footer_address_inst_address_time :nth-child(3n){    
    margin-top: 1.5em;
}

.footer_address_inst_address_time :nth-child(2n){
    font-size: 30px;    
}