.footer_address{
    height: 25vh;
    font: inherit;
    display: flex;
    justify-content: space-between;
}

/*left side*/
.footer_address_tel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_address_inst_what{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    text-align: center;
}

.footer_contacts{
    font-size: 50px;
}

.footer_contacts_tel{
    font-size: 30px;
}

.footer_address_inst{
    margin-right: 2em;
}

a .footer_address_what{
    font-size: 30px;
}

/*photo*/
.instagram_photo{
    width: 44px;
    height: 44px;
}

.whatsapp_photo{
    width: 46px;
    height: 46px;
}

/*right side*/
.footer_address_inst_address_time{
    font-size: 20px;
    margin-top: 3.5em;
}

.footer_address_inst_address_time :nth-child(3n){    
    margin-top: 1.5em;
}

.footer_address_inst_address_time :nth-child(2n){
    font-size: 30px;    
}