.list_of_products{
    margin: 2em auto;
    display: grid;   
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: calc(300px + 170 * (100vw / 2690));
    gap: 3em;
}

@media (max-width: 1400px){
    .list_of_products{
        grid-auto-rows: calc(350px + 100 * (100vw / 2690)) calc(350px + 100 * (100vw / 2690));
        grid-template-columns: repeat(3, 1fr);        
    }
}

@media (max-width: 1150px){
    .list_of_products{
        grid-auto-rows: calc(400px + 100 * (100vw / 2690)) calc(400px + 100 * (100vw / 2690)) calc(400px  + 100 * (100vw / 2690));
        grid-template-columns: repeat(2, 1fr);        
    }
}

@media (min-width: 1800px){
    .list_of_products{
        grid-auto-rows: calc(320px + 150 * (100vw / 2690));       
    }
}

@media (min-width: 1900px){
    .list_of_products{
        grid-auto-rows: calc(340px + 150 * (100vw / 2690));       
    }
}

@media (min-width: 2050px){
    .list_of_products{
        grid-auto-rows: calc(380px + 150 * (100vw / 2690));       
    }
}

@media (min-width: 2350px){
    .list_of_products{
        grid-auto-rows: calc(400px + 150 * (100vw / 2690));       
    }
}

@media (min-width: 2550px){
    .list_of_products{
        grid-auto-rows: calc(420px + 150 * (100vw / 2690));       
    }
}