.list_of_products_block{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;   
}

.list_of_product_price{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;   
    margin: 0.5em 0em;
    font-size: 26px;
}

.list_of_product_price :first-child{
    font-size: 32px;    
}

.list_of_product_price :nth-child(2n){
   color: var(--silver);
   margin: 0em 1em;
   text-decoration: line-through;   
}

.list_of_product_price :nth-child(3n){
    color: var(--red);
}

.button_list_of_product{    
    display: flex;
    align-items: center;    
}


.list_of_products_foto{
    width: 100%;
    height: 100%;
    margin-bottom: 1em; 
    display: flex;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}